.conteneur-calculatrice {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100%;
    margin: 20px auto; /* Ajout de marge autour du conteneur */
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #f9f9f9; /* Ajout d'une couleur de fond */
  
    .section-calcul {
      margin-bottom: 20px;
      border: 1px solid #ccc; /* Ajout de bordures */
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Ajout d'une ombre */
      padding: 10px;
      background-color: #fff; /* Ajout d'une couleur de fond */
    }
  
    .historique-calculs {
      width: 100%;
      border-collapse: collapse;
  
      th,
      td {
        border: 1px solid #ccc; /* Ajout de bordures */
        padding: 8px;
      }
  
      th {
        background-color: #64748b;
        color: #fff;
        text-align: center;
      }
  
      td {
        text-align: center;
      }
    }
  
    .rangee-boutons {
      display: flex;
      justify-content: space-around;
      margin: 10px;
    }
  
    .bouton-calculatrice {
      padding: 10px;
      width: 50px;
      height: 50px;
      border: none;
      background-color: #64748b;
      color: #fff;
      border-radius: 50%;
      cursor: pointer;
      transition: background-color 0.3s ease;
  
      &:hover {
        background-color: #475569;
      }
    }
  
    .operateur {
      background-color: #fb923c;
  
      &:hover {
        background-color: #f97316;
      }
    }
  
    .entete-historique,
    .donnees-historique {
      text-align: center;
      padding: 5px;
    }
  
    /* Media query pour les appareils de taille inférieure à 768px (tablettes et mobiles) */
    @media only screen and (max-width: 768px) {
      .conteneur-calculatrice {
        max-width: 90%;
      }
    }
  }
  
/* Style pour les boutons d'exportation et de suppression */
.bouton-export,
.bouton-effacer,
.bouton-import,
input[type="file"] {
  display: block;
  margin: 10px auto; /* Centrer les boutons horizontalement avec une marge autour */
  padding: 10px 20px;
  border: none;
  background-color: #64748b;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #475569;
  }
}

.input-file-container {
    display: block;
    margin: 10px auto; /* Centrer l'élément horizontalement avec une marge autour */
    position: relative; /* Assure que les éléments enfants positionnés absolument se réfèrent à ce conteneur */
  }
  
  .input-file-container input[type="file"] {
    position: absolute;
    left: -9999px; /* Déplace l'élément hors de la vue visuelle */
  }
  
  .input-file-container label {
    display: block;
    padding: 10px 20px;
    border: none;
    background-color: #64748b;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    width: 100px;
  }
  
  .input-file-container label:hover {
    background-color: #475569;
  }
  
  /* Style pour le texte "Aucun fichier" */
  .input-file-container input[type="file"]:disabled + label {
    display: block;
    margin: 10px auto; /* Centrer le texte horizontalement avec une marge autour */
    padding: 10px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    color: #555;
    text-align: center;
    border-radius: 5px;
  }
  
  


