<div class="conteneur-calculatrice">
  <div class="section-entree">
    <div class="conteneur-entree">
      <input type="text" class="entree-calculatrice" [(ngModel)]="titre" placeholder="Titre">
    </div>
  </div>

  <div class="section-calcul">
    <div class="conteneur-entree">
      <input class="entree-calculatrice entree-calcul" type="text" [(ngModel)]="calcul" placeholder="Calcul" >
    </div>
  </div>
  <div class="section-resultat-unite">
    <div class="conteneur-entree">
      <input class="entree-calculatrice resultat-calcul" type="text" [(ngModel)]="result" placeholder="Résultat" readonly>
    </div>
    <select [(ngModel)]="unite" class="select-unite">
      <option value="km">km</option>
      <option value="kg">kg</option>
    </select>
  </div>

  <div class="section-boutons">
    <div class="rangee-boutons">
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('(')">(</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul(')')">)</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('sup')">SUP</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('C')">C</button>
    </div>
    <div class="rangee-boutons">
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('7')">7</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('8')">8</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('9')">9</button>
      <button class="bouton-calculatrice operateur" (click)="ajouterAuCalcul('/')">/</button>
    </div>
    <div class="rangee-boutons">
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('4')">4</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('5')">5</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('6')">6</button>
      <button class="bouton-calculatrice operateur" (click)="ajouterAuCalcul('*')">x</button>
    </div>
    <div class="rangee-boutons">
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('1')">1</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('2')">2</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('3')">3</button>
      <button class="bouton-calculatrice operateur" (click)="ajouterAuCalcul('-')">-</button>
    </div>
    <div class="rangee-boutons">
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('0')">0</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('.')">.</button>
      <button class="bouton-calculatrice" (click)="ajouterAuCalcul('=')">=</button>
      <button class="bouton-calculatrice operateur" (click)="ajouterAuCalcul('+')">+</button>
    </div>
  </div>
</div>

<div class="conteneur-calculatrice">
  <div class="section-calcul">
    <table class="historique-calculs">
      <thead>
        <tr>
          <th class="entete-historique">Titre</th>
          <th class="entete-historique">Calcul</th>
          <th class="entete-historique">Résultat</th>
          <th class="entete-historique">Unité</th>
        </tr>
      </thead>
      <tbody>
        @for(calculation of calculations; track calculations){
          <tr (click)="chargerDansCalculatrice(calculation)">
            <td class="donnees-historique">{{ calculation.titre }}</td>
            <td class="donnees-historique">{{ calculation.calcul }}</td>
            <td class="donnees-historique">{{ calculation.result }}</td>
            <td class="donnees-historique">{{ calculation.unite }}</td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>

<button class="bouton-export" (click)="exportCSV()">Exporter en CSV</button>
<button class="bouton-effacer" (click)="effacerDonnees()">Effacer données</button>

<!-- Input pour importer un fichier CSV -->
<div class="input-file-container">
  <input type="file" id="fichierInput" (change)="importerCSV($event)" [disabled]="!fichierChoisi">
  <label for="fichierInput" class="bouton-export">Importer votre fichier</label>
</div>
