<div class="container">
  <div class="container-btn">
    <button class="btn">Saisir</button>
    <button class="btn">Lister</button>
  </div>
 
  <div class="container-result">
    <div class="input-container">
      <input type="text" class="input" [(ngModel)]="titre" placeholder="titre">
    </div>
    <select [(ngModel)]="unite" class="input">
      <option value="km">km</option>
      <option value="kg">kg</option>
    </select>
  </div>


  <div class="container-touche">
    <div class="container-result">
      <div>
        <input class="input result" type="text" [(ngModel)]="calcul" placeholder="Calcul" >
      </div>
      <div>
        <input class="input result" type="text" [(ngModel)]="result" placeholder="Résultat" readonly>
      </div>
    </div>
    <div class="touches">
      <button (click)="ajouterAuCalcul('(')">(</button>
      <button (click)="ajouterAuCalcul('0')">0</button>
      <button (click)="ajouterAuCalcul(')')">)</button>
      <button id="sup" (click)="ajouterAuCalcul('sup')">SUP</button>

      <button (click)="ajouterAuCalcul('1')">1</button>
      <button (click)="ajouterAuCalcul('2')">2</button>
      <button (click)="ajouterAuCalcul('3')">3</button>
      <button class="operateur"(click)="ajouterAuCalcul('+')">+</button>

      <button (click)="ajouterAuCalcul('4')">4</button>
      <button (click)="ajouterAuCalcul('5')">5</button>
      <button (click)="ajouterAuCalcul('6')">6</button>
      <button class="operateur"(click)="ajouterAuCalcul('-')">-</button>

      <button (click)="ajouterAuCalcul('7')">7</button>
      <button (click)="ajouterAuCalcul('8')">8</button>
      <button (click)="ajouterAuCalcul('9')">9</button>
      <button class="operateur"(click)="ajouterAuCalcul('*')">*</button>

      <button class="operateur"(click)="ajouterAuCalcul('.')">.</button>
      <button class="operateur"(click)="ajouterAuCalcul('C')">C</button>
      <button class="operateur"(click)="ajouterAuCalcul('=')">=</button>
      <button class="operateur"(click)="ajouterAuCalcul('/')">/</button>
    </div>

  </div>
    
</div>
  